@font-face {
    font-family: "DIN Bold";
    src: url("../font/DIN-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "RyoGothicPlusN-Bold";
    src: url("../font/RyoGothicPlusN-Bold.otf") format("opentype");
}
@font-face {
    font-family: "RyoGothicPlusN-Medium";
    src: url("../font/RyoGothicPlusN-Medium.otf") format("opentype");
}
@font-face {
    font-family: "RyoGothicPlusN-Reegular";
    src: url("../font/RyoGothicPlusN-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Yu Gothic Medium';
    src:
     url('../font/Yu Gothic Medium.otf') format("opentype");
}

/* Initial Style Start */
body {
    margin: 0;
}
p {
    margin: 0;
}
img {
    vertical-align: middle;
}
.pc-item {
    display: none !important;
}
.sp-item {
    display: block !important;
}
@media screen and (min-width: 768px) {
    
    .pc-item {
        display: block !important;
    }
    .sp-item {
        display: none !important;
    }
}
/* Initial Style End */

/* Main Body Start */
.main {
    position: relative;
    overflow: hidden;
}
@media screen and (min-width: 768px) {
    .main {
        margin: 0 auto;
        max-width: 1600px;
    }
}
/* Main Body End */

/* Header Section Start */
.header-nav {
    align-items: center;
    display: flex;
    height: 13vw;
    margin: 0 auto;
    max-width: 1000px;
    padding-left: 4vw;
    padding-right: 4vw;
}
.header-nav img {
    height: 6.4vw;
}

@media screen and (min-width: 768px) {
    .header-nav {
        height: 100px;
    }
    .header-nav img {
        height: 34px;
    }
}
/* Header Section End */

/* Cover Section Start */
.cover {
    position: relative;
    width: 100%;
}
.cover-img-pc {
    display: none;
}
.cover-img-sp {
    display: block !important;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.title {
    color: #2B4A7E;
    margin: auto;
    padding-left: 5.334vw;
    padding-right: 5.334vw;
    padding-top: 7.5vw;
    text-shadow: 1px 0 0 #d5e2db;
}
.title-one {
    font-family: "RyoGothicPlusN-Reegular";
    font-size: 4vw;
}
.title-two {
    font-family: "RyoGothicPlusN-Medium";
    font-size: 9.2vw;
    line-height: 12vw;
}
.title-three {
    font-family: "RyoGothicPlusN-Bold";
    font-size: 10.6vw;
    line-height: 12.1vw;
}
.title-four {
    font-family: "RyoGothicPlusN-Bold";
    font-size: 5.067vw;
    line-height: 6.5vw;
}

@media screen and (min-width: 1024px){
    .cover-img-pc {
        left: 50% !important;
    }
}

@media screen and (min-width: 768px) {
    .cover-img-pc {
        display: block !important;
        height: 440px;
        left: 35%;
        position: absolute;
        transform: translate(-50%);  
        z-index: -1;
    }
    .cover-img-sp {
        display: none !important;
    }
    .title {
        max-width: 1000px;
        padding-top: 80px;
        padding-left: 40px;
        padding-right: 40px; 
    }
    .title-one {
        font-family: "RyoGothicPlusN-Reegular";  
        font-size: 24px;
        line-height: 36px; 
    }
    .title-two {
        font-family: "RyoGothicPlusN-Medium";
        font-size: 69px;
        line-height: 79px;
        
    }
    .title-three {
        font-family: "RyoGothicPlusN-Bold";
        font-size: 80px;
        line-height: 90px;     
    }
    .title-four {
        font-family: "RyoGothicPlusN-Bold";
        font-size: 38px;
        line-height: 48px;
    }
}
/* Cover Section End */

/* Section Start */
.section {
    padding-left: 5.3vw;
    padding-right: 5.3vw;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px) {
    .section {
        max-width: 1000px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
/* Section End */

/* Card Section Start */
.orange-text {
    color: #E67F10;
}
.card-section {
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-flow: column;
    max-width: 626px;
    padding: 3.7vw;
    position: relative;
}
.card {
    display: flex;
    margin-bottom: 30px;
    margin-bottom: 4vw;
}
.card:last-child {
    margin-bottom: 0;
}
.card-title {
    align-items: center;
    background-color: #f47f00;
    border-radius: 1vw;
    color: white;
    display: flex;
    flex-flow: column;
    font-family: "DIN Bold";
    justify-content: center;
    height: 8vw;
    margin-right: 1vw;
    min-width: 8vw;
    opacity: 1;
    text-align: center;
    width: 8vw;
}
.card-title p {
    font-size: 1.9vw;
}

.card-title .card-no {
    font-size: 3.8vw;
}
.card-content {
    color: #2b4a7e;
    font-family: "RyoGothicPlusN-Medium";
    font-size: 3.1vw;
    line-height: 4.3vw;
}

@media screen and (min-width: 768px) {
    .card-section {
        display: flex;
        flex-flow: row;
        max-width: 1000px;
        position: relative;
        background: rgba(255, 255, 255, 0.9);
        padding: 28px;
        margin-top: 60px;
        box-shadow: 2px 0 2px #00000020;
    }
    .card {
        display: flex;
        flex-flow: column;
        margin-bottom: 0;
        width: 33.34%;
        padding: 5px;
    }
    .card-title {
        border-radius: 10px;
        flex-flow: row;
        height: 40px;
        margin-bottom: 20px;
        margin-right: 0;
        width: 100%;
    }
    .card-title p {
        font-size: 14.4px;
        margin-right: 5px;
    }
    .card-title .card-no {
        font-size: 26px;
    }
    .card-content {
        font-size: 16px;
        line-height: 25px;
    }
}
/* Card Section End */

/* Announce Section Start */
.announce {
    align-items: center;
    display: flex;
    font-family: 'RyoGothicPlusN-Medium';
    justify-content: center;
    margin-top: 13.3vw; 
}
.announce-text {
    color: #008767;
    font-size: 3.2vw;
    line-height: 5.8vw;
    text-align: left;
}
.announce-text::before {
    background-image: url(../images/arrow-down-green-thick.png);
    background-size: 2vw 2vw;
    display: inline-block;
    height: 2vw;
    width: 2vw;
    content: '';
}
.announce-img-sp {
    display: block;
    margin: 6vw auto;
    width: 98.5%;
}
.announce-img-pc {
    display: none !important;
}

@media screen and (min-width: 956px) {
    .announce {
        margin: 0;
        text-align: center;
    }
    .announce-text {
        font-size: 14px;
        margin-bottom: 14px;
        margin-top: 14px;
        text-align: center;
    }
    .announce-text::before {
        background-image: url(../images/arrow-down-green-thick.png);
        background-size: 15px 15px;
        height: 15px;
        width: 15px;
    }
    .announce-img-pc {
        display: block !important;
        margin: -5px auto 45px auto ;
        width: 90%;
    }
    .announce-img-sp {
        display: none !important;
    }
}
/* Announce Section End */

/* Insurance Section Start */
.underline-yellow {
    text-decoration: underline #FFE77A 10px;
    text-underline-offset: -2px;
}
.insurance {
    background-color: #F0EFEC;
    border-radius: 10px;
    margin-bottom: 6.4vw;
    padding: 4.8vw;
    text-align: center;
}
.insurance-title {
    color: #008767;
    font-family: 'RyoGothicPlusN-Bold';
    font-size: 5.4vw;
    line-height: 8vw;
    margin-top: 0;
    margin-bottom: 6vw;
}
.insurance > h3 {
    font-family: 'Yu Gothic Medium';
    font-size: 4vw;
    font-weight: normal;
    line-height: 6vw;
    margin-bottom: 6vw;
}
.insurance-box {
    background-color: #fff;
    border: solid 0.26vw #c3bfb3;
    border-radius: 1.3vw;
    margin-bottom: 5vw;
    padding: 4vw;
}
.insurance-box > h3 {
    font-family: 'Yu Gothic Medium';
    font-size: 3.7vw;
    font-weight: bold;
    margin-bottom: 2.5vw;
    margin-top: 0;
    text-align: center;
}
.insurance-content {
    font-family: 'Yu Gothic Medium';
    font-size: 3.2vw;
    line-height: 5.4vw;
    text-align: left;
}
.insurance-price-box {
    background-color: #fff;
    border-radius: 1.3vw;
    padding: 54px 30px;
    padding: 7.7vw 4vw;
}
.insurance-image {
    width: 100%;    
}
.price-content{
    color: #666;
    font-family: 'Yu Gothic Medium';
    font-size: 2.7vw;
    line-height: 3.6vw;
    margin-top: 5.3vw;
    text-align: left;
}

@media screen and (min-width: 956px) {
    .insurance {
        margin-bottom: 50px;
        padding: 50px; 
    }
    .insurance-title {
        font-size: 42px;
        line-height: 60px;
        margin-bottom: 36px;
    }
    .insurance-box {
        border: solid 2px #c3bfb3;
        border-radius: 10px;   
        margin-bottom: 40px;
        padding:  20px 30px 30px 30px;
    }
    .insurance > h3 {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 45px;
    }
    .insurance-box > h3 {
        font-size: 26px;
        margin-bottom: 18px;
    }
    .insurance-content {
        font-size: 20px;
        line-height: 35px;
    }
    .insurance-price-box{
        padding: 70px 85px;
    }
    .price-content{
        font-size: 16px;
    }
}
/* Insurance Section End */

/* Break Section Start */
.break-section {
    align-items: center;
    background-image: url(../images/bg_sec_ttl_sp.png);
    display: flex;
    height: 22vw;
    justify-content: center;
    width: 100%;
}
.break-section > h1 {
    color: #fff;
    font-family: 'RyoGothicPlusN-Bold';
    font-size: 5.4vw;
    font-weight: bold;
    justify-content: center;
    line-height: 8.3vw;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .break-section {
        background-image: url(../images/bg_sec_ttl_pc.png);
        background-position: center;
        height: 130px;
        margin: 0 auto 90px auto;
        max-width: 1000px;
    }
    .break-section > h1 {
        display: inline-block;
        font-size: 30px;
        line-height: 62px;
        margin: 0;
        padding: 0;
        width: 100%;
      
    }
}
/* Break Section End */

/* Point 1 Section Start */
.point-section {
    background-color: #e4eeff;
    border-radius: 10px;
    margin-bottom: 5.3vw;
    margin-top: 12vw;
    padding-bottom: 6.4vw;
}
.point-header {
    background-color: #2B4A7E;
    border-radius: 10px 10px 0 0;
    padding-bottom: 4.8vw;
    padding-top: 4.8vw;
    position: relative;
    text-align: center;
}
.point-no {
    align-items: center;
    background-color: #ff8080;
    border: solid 0.4vw #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-family: 'DIN Bold';
    font-size: 5.6vw;
    height: 15.3vw;
    justify-content: center;
    left: 2.7vw;
    position: absolute;
    transform: translateY(-80%);
    width: 15.3vw;
}
.point-title {
    color: #fff;
    font-family: 'Yu Gothic Medium';
    font-size: 4.5vw;
    font-weight: normal;
    line-height: 6.4vw;
    margin: 0;
}
.point-toggle {
    background-color: #fff;
    margin: 0 auto;
    width: 87%;
}
.toggle-content {
    border-bottom: 1px dashed #E1DDD7 !important;
    cursor: pointer;
    margin-top: 6.7vw;
    padding: 4.7vw;
    position: relative;
    text-align: center;
}
.toggle-title {
    font-family: 'Yu Gothic Medium';
    font-size: 4vw;
    font-weight: normal;
    line-height: 5.6vw;
    margin: 0;
}
.toggle-arrow {
    height: 5.3vw;
    position: absolute;
    right: 3.2vw;
    top: 32%;
    width: 5.3vw;
}
.toggle-arrow img {
    width: 100%;
}
.point-diagram {
    padding: 5.3vw 0;
    width: 100%;
}
.toggle-content-2 {
    padding: 5.3vw 0;
}
.toggle-box {
    margin: auto;
}
.toggle-box-header {
    align-items: center;
    background-color: #808080;
    color: #fff;
    display: flex;
    font-family: 'Yu Gothic Medium';
    font-size: 4vw;
    height: 8vw;
    justify-content: center; 
}
.toggle-box-content {
    font-family: 'Yu Gothic Medium';
    font-size: 2.8vw;
    line-height: 4.3vw;
    margin-top: 3.7vw;
    text-align: left;
}
.toggle-content-2 > h1 {
    font-family: 'Yu Gothic Medium';
    font-size: 4vw;
    font-weight: normal;
    line-height: 5.6vw;
    margin-bottom: 0;
    margin-top: 5.3vw;
    text-align: center;
}
.point-table-pc {
    display: none;
}
.point-table-sp {
    display: block;
    padding: 5.3vw 0;
    width: 100%;
}
@media screen and (min-width: 1070px) {
    .point-header {
        padding-bottom: 36px;
        padding-top: 36px;
    }
}
@media screen and (min-width: 768px) {
    .point-section {
        margin-bottom: 90px;
        margin-top: 65px;
        padding-bottom: 40px;
    }
    .point-no {
        border: solid 3px #fff;
        font-size: 36px;
        height: 96px;
        left: 20px;
        transform: translateY(-85%);
        width: 96px;
    }
    .point-title {
        font-size: 34px;
        line-height: 48px;
        padding: 0 125px;
    }
    .point-toggle {
        padding-bottom: 0;
        width: 90%;
    }
    .toggle-content {
        margin-top: 50px;
        padding: 35px;
    }
    .toggle-title {
        font-size: 30px;
        line-height: 42px;
    }
    .toggle-arrow {
        height: 40px;
        right: 24px;
        width: 40px;
    }
    .point-diagram {
        padding: 40px 0;
    }
    .toggle-content-2 {
        padding: 40px 0;
    }
    .point-table-pc {
        padding: 40px 0;
        width: 100%;
    }
    .toggle-box {
        display: flex;
    }
    .toggle-box-header {
        font-size: 18px;
        height: 60px;
        min-width: 210px;
        width: 79%;
    }
    .toggle-box-content {
        font-size: 12px;
        line-height: 20px;
        margin: 0;
        padding-left: 20px;
    }
    .toggle-content-2 > h1 {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 0;
        margin-top: 40px;
    }
}
/* Point 1 Section End */

/* Point 2 Section Start */
.point2-pc-image {
    padding: 55px 0;
}
.point-sub-title {
    background-color: #E4EEFF;
    font-family: "Yu Gothic Medium";
    font-size: 3.8vw;
    font-weight: normal;
    line-height: 5.6vw;
    margin: 0;
    padding: 6.4vw 0;
    text-align: center;
    width: 100%;
}
.point-footer {
    padding: 4vw 0;
}
.footer-content {
    display: flex;
    font-family: 'Yu Gothic Medium';
    padding-bottom: 4vw;
}
.footer-tittle {
    margin-right: 1.24vw;
    font-size: 2.9vw;
    line-height: 3.6vw;
}
.footer-text {
    font-size: 2.75vw;
    line-height: 3.6vw;
}
table, th, td {
    border: 1px solid #7FC2E4;
    border-collapse: collapse;
}
th {
    background-color: #C6E4F3;
}
.toggle-table {
    display: table;
    font-family: 'Yu Gothic Medium';
    margin-top: 6.8vw;
    padding: 6.8vw 6vw 1.466666667vw;
    width: 100%;
}
.toggle-sp-header {
    cursor: pointer;
    font-size: 3.5vw;
    font-weight: normal;
    height: 9.3vw;
    position: relative;
}
.toggle-sp-title {
    font-size: 3.5vw;
    font-weight: normal;
    margin: 0;
    padding-top: 1vw;
}
.toggle-sp-arrow {
    height: 5.3vw;
    position: absolute;
    right: 1.3vw;
    top: 2vw;
    width: 5.3vw;
}
.row-title {
    background-color: #E4F2F9;
    font-size: 2.9vw;
    line-height: 3.6vw;
    text-align: center;
    vertical-align: middle;
    width: 35%;
}
.row-title > div {
    padding-left: 5.5vw;
    text-align: left;
}
.row-content {
    font-size: 3.2vw;
    line-height: 4vw;
    padding: 2.5vw;
}
@media screen and (min-width: 900px) {
    .point-sub-title {
        font-size: 24px;
        line-height: 42px;
        padding: 48px 0;    
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
    .point-sub-title {
        font-size: 24px;
        line-height: 42px;
        padding: 48px 0;
        text-align: center;
    }
    .dropdown-table {
        display: none !important;
    }

}
/* Point 2 Section End */

/* Break Section Start */
.break-image-pc {
    margin-bottom: 90px; 
    margin-top: -40px; 
    width: 100%;
}
.break-image-sp {
    width: 100%;
}
/* Break Section End */

/* Point 3 Section Start */
.point-3-content-top {
    font-family: 'RyoGothicPlusN-Reegular';
    padding-top: 4.8vw;
    text-align: center;
}
.point-3-content-bottom {
    color: #666;
    display: inline-block;
    font-family: 'Yu Gothic Medium';
    font-size: 2.3vw;
    line-height: 4vw;
    margin-top: 3.3vw;
    padding-bottom: 4.5vw;
    padding-top: 3vw;
    text-align: left;
}
.point-3-content-top-right > .text {
    font-weight: normal;
    font-size: 3.7vw;
    line-height: 5.4vw;
    margin: 0;
}
.point-3-content-top-right > .text-no {
    color: #f00;
    font-size: 5.9vw;
    font-weight: normal;
    line-height: 10vw;
    margin: 0;
}
.point-3-content-top-left {
    background-color: #EAEAEA;
    font-family: 'Yu Gothic Medium';
    font-size: 2.3vw;
    line-height: 5vw;
    margin-top: 3.4vw;
    padding: 3.3vw;
    text-align: left;
    width: auto;
}
.point-3-content-top-left > .text-2 {
    font-size: 2.5vw;
}

@media screen and (min-width: 768px) {
    .point-3-content-top{
        display: flex;
        padding-left: 10px;
        padding-top: 36px;
    }
    .point-3-content-bottom {
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 45px;
        padding-top: 0;
    }
    .point-3-content-top-right {
        width: 50% !important;
    }
    .point-3-content-top-right > .text {
        font-size: 24px;
        line-height: 42px;
    }
    .point-3-content-top-right > .text-no {
        font-size: 44px;
        line-height: 77px;
    }
    .point-3-content-top-left {
        font-size: 14px;
        height: 75%;
        line-height: 28px;
        margin: 0;
        padding: 27px;
        width: 45% !important;
    }
    .point-3-content-top-left > .text-2 {
        font-size: 16px;
        line-height: 28px;
    }
}
/* Point 3 Section End */