@font-face {
    font-family: "DIN Bold";
    src: url("../font/DIN-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'Yu Gothic Medium';
    src: url('../font/Yu Gothic Medium.otf') format("opentype");
}
@font-face {
    font-family: "RyoGothicPlusN-Reegular";
    src: url("../font/RyoGothicPlusN-Regular.otf") format("opentype");
}
@font-face {
    font-family: "RyoGothicPlusN-Medium";
    src: url("../font/RyoGothicPlusN-Medium.otf") format("opentype");
}
@font-face {
    font-family: "RyoGothicPlusN-Bold";
    src: url("../font/RyoGothicPlusN-Bold.otf") format("opentype");
}

/* Initial Style Start */
body {
    margin: 0;
}
p {
    margin: 0;
}
.pc-item {
    display: none !important;
}
.sp-item {
    display: block !important;
}
@media screen and (min-width: 768px) {
    .pc-item {
        display: block !important;
    }
    .sp-item {
        display: none !important;
    }
}
/* Initial Style End */

/* Main Body Start */
.main {
    position: relative;
    overflow: hidden;
}
@media screen and (min-width: 768px) {
    .main {
        margin: auto;
        max-width: 1600px;
    }
}
/* Main Body End */

/* Header Section Start */
.header-nav {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    height: 14vw;
    max-width: 1000px;
    padding-left: 4vw;
    padding-right: 4vw;
}
.header-nav img {
    height: 6vw;
}

@media screen and (min-width: 768px) {
    .header-nav {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        height: 100px;
        max-width: 1000px;
    }
    .header-nav img {
        height: 34px;
        width: 126px;
    }
}
/* Header Section End */

/* Cover Section Start */
.cover {
    position: relative;
    width: 100%;
}
.cover-img-pc {
    display: none;
}
.cover-img-sp {
    display: block !important;
    position: absolute;
    z-index: -1;
    width: 100%;
}
.title {
    margin: auto;
    padding-top: 32px;
    padding-left: 20px;
    color: #2B4A7E;
    
}
.title-one {
    font-size: 4vw;
    font-family: "RyoGothicPlusN-Reegular";
}
.title-two {
    font-size: 9.2vw;
    line-height: 12vw;
    font-family: "RyoGothicPlusN-Medium";
}
.title-three {
    font-size: 10.667vw;
    line-height: 10vw;
    font-family: "RyoGothicPlusN-Bold";
}
.title-four {
    font-size: 5.067vw;
    line-height: 8vw;
    font-family: "RyoGothicPlusN-Bold";
}

@media screen and (min-width: 768px) {
    .cover-img-pc {
        display: block !important;
        position: absolute;
        z-index: -1;
        height: 440px;
        left: 50%;
        object-fit: cover;
        object-position: 65% 50%;
        transform: translate(-50%);  
    }
    .cover-img-sp {
        display: none !important;
    }

    .title {
        max-width: 1000px;
        padding-top: 80px;
    }
    .title-one {
        font-size: 24px;
        line-height: 36px;
        font-family: "RyoGothicPlusN-Reegular";
    }
    .title-two {
        font-size: 69px;
        line-height: 79px;
        font-family: "RyoGothicPlusN-Medium";
    }
    .title-three {
        font-size: 80px;
        line-height: 90px;
        font-family: "RyoGothicPlusN-Bold";
    }
    .title-four {
        font-size: 38px;
        line-height: 48px;
        font-family: "RyoGothicPlusN-Bold";
    }
}
/* Cover Section End */

/* Section Start */
.section {
    padding-left: 5.334vw;
    padding-right: 5.334vw;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .section {
        max-width: 1000px;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}
/* Section End */

/* Card Section Start */
.orange-text {
    color: #E67F10;
}
.card-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    max-width: 626px;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    padding: 28px;
    padding: 3.733333333vw;
}
.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    margin-bottom: 4vw;
}
.card:last-child {
    margin-bottom: 0;
}
.card-title {
    background-color: #f47f00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    color: white;
    text-align: center;
    opacity: 1;
    width: 8vw;
    min-width: 8vw;
    height: 8vw;
    align-items: center;
    margin-right: 1vw;
    font-family: "DIN Bold";
}

.card-title p {
    font-size: 1.9vw;
}

.card-title .card-no {
    font-size: 3.8vw;
}
.card-content {
    font-family: "RyoGothicPlusN-Medium";
    font-size: 3.1vw;
    line-height: 4.3vw;
    color: #2b4a7e;
}

@media screen and (min-width: 768px) {
    .card-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-flow: row;
        max-width: 1000px;
        position: relative;
        background: rgba(255, 255, 255, 0.9);
        padding: 28px;
        margin-top: 60px;
        box-shadow: 2px 0 2px #00000020;
    }
    .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-flow: column;
        margin-bottom: 0;
        width: 33.34%;
        padding: 5px;
    }
    .card-title {
        background-color: #f47f00;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: white;
        text-align: center;
        opacity: 1;
        width: 100%;
        min-width: 8vw;
        height: 40px;
        margin-right: 0;
        margin-bottom: 20px;
        font-family: "DIN Bold";
    }
    .card-title p {
        font-size: 14.4px;
        margin-right: 5px;
    }
    .card-title .card-no {
        font-size: 26px;

    }
    .card-content {
        font-family: "RyoGothicPlusN-Medium";
        font-size: 16px;
        line-height: 25px;
        color: #2b4a7e;
    }
}
/* Card Section End */

/* Announce Section Start */
.announce {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
    margin-top: 13.334vw;
    justify-content: center;
    align-items: center;
    font-family: 'RyoGothicPlusN-Medium';
}
.announce-text {
    color: #008767;
    font-size: 24px;
    font-size: 3.2vw;
    line-height: 36px;
    line-height: 5.8vw;
    text-align: left;
}
.announce-text::before {
    background-image: url(../images/arrow-down-green-thick.png);
    background-size: 15px 15px;
    background-size: 2vw 2vw;
    display: inline-block;
    width: 15px;
    width: 2vw;
    height: 15px;
    height: 2vw;
    content: '';
}
.announce-img-sp {
    display: block;
    margin-top: 45px;
    margin-top: 6vw;
    margin-bottom: 45px;
    margin-bottom: 6vw;
    margin-left: auto;
    margin-right: auto;
    width: 98.508%;
}
.announce-img-pc {
    display: none !important;
}

@media screen and (min-width: 956px) {
    .announce {
        font-family: 'RyoGothicPlusN-Medium';
        margin: 0;
        text-align: center;
    }
    .announce-text {
        color: #008767;
        margin-top: 14px;
        margin-bottom: 14px;
        font-size: 14px;
        text-align: center;
    }
    .announce-text::before {
        background-image: url(../images/arrow-down-green-thick.png);
        background-size: 15px 15px;
        display: inline-block;
        width: 15px;
        height: 15px;
    }
    .announce-img-pc {
        display: block !important;
        margin-bottom: 45px;
        margin-top: -5px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .announce-img-sp {
        display: none !important;
    }
}
/* Announce Section End */

/* Insurance Section Start */
.underline-yellow {
    text-decoration: underline #FFE77A 10px;
    text-underline-offset: -2px;
}
.insurance {
    background-color: #F0EFEC;
    text-align: center;
    padding: 4.8vw;
    border-radius: 10px;
}
.insurance-title {
    color: #008767;
    font-size: 28px;
    font-family: 'RyoGothicPlusN-Bold';
    line-height: 8vw;
}
h3 {
    font-family: 'Yu Gothic Medium';
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 45px;
    font-weight: normal;
}
.insurance-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    border: solid 2px #c3bfb3;
    margin-bottom: 50px;
}
.insurance-box > h3 {
    font-weight: bold;
    font-size: 29px;
    margin-top: 0;
    margin-bottom: 28px;
    line-height: 28px;
}
.insurance-content{
    font-family: 'Yu Gothic Medium';
    text-align: left;
    font-size: 24px;
    line-height: 40px;
}
.insurance-price-box{
    background-color: #fff;
    border-radius: 10px;
    padding: 54px 30px;
}
.insurance-image{
    width: 100%;    
}
.price-content{
    color: #666;
    text-align: left;
    font-size: 20px;
    font-family: 'Yu Gothic Medium';
    margin-top: 40px;
    line-height: 28px;
}
@media screen and (min-width: 956px) {
    .insurance {
        padding: 50px;
        margin-bottom: 50px;
    }
    .insurance-title {
        color: #008767;
        font-size: 42px;
        line-height: 60px;
        margin-top: 0;
    }
    .insurance-box > h3 {
        font-weight: bold;
        font-size: 26px;
        margin-top: 0;
        margin-bottom: 28px;
        line-height: 26px;
    }
    .insurance-content {
        font-size: 20px;
        line-height: 34px;
    }
    .insurance-price-box{
        padding: 70px 85px;
    }
    .price-content{
        font-size: 16px;
    }
}
/* Insurance Section End */
